{% extends 'base.html.twig' %}

{% block title %}Searching a client
{% endblock %}

{% block body %}

<div class="container ">
	<div id="map" style="height: 80vh; width: 100%;"></div>
  		<div>
    		<label for="startAddress">Adresse de départ :</label>
    		<input type="text" id="startAddress" list="startAddressList">
    		<datalist id="startAddressList"></datalist>
  		</div>
  		<div>
    		<label for="endAddress">Adresse d'arrivée :</label>
    		<input type="text" id="endAddress" list="endAddressList">
    		<datalist id="endAddressList"></datalist>
  		</div>
  		<button onclick="getRouteFromAddresses()">Calculer l'itinéraire</button>
  </div>
</div>


<style>
  html, body {
    height: 100%;
    margin: 0;
  }
  #map-container {
    height: 80%;
    width: 100%;
    position: relative;
  }
  #map {
    height: 100%;
    width: 100%;
  }
</style>
{% endblock %}
