{% extends 'base.html.twig' %}

{% block title %}Password reset
{% endblock %}

{% block body %}
	<section class="container my-3  content ">
		<div class="row spaceBetween">
			<div class="col spaceBetween">
				<div class="text-center">
					<h1 class="titleContact">Password reset</h1>
				</div>
				{{ form_start(requestPassForm) }}
				{{ form_row(requestPassForm.email, {
						'attr': {'class': 'text-field'},
						'label_attr': {'class': 'custom-label'}}) }}

				<button type="submit" class="btn submitMessage spaceBetween">Send</button>
				{{ form_end(requestPassForm) }}
			</div>
		</div>
	</section>

{% endblock %}
