{% extends 'base.html.twig' %}
{% block title %}Empower Your Drive, Elevate Your Life
{% endblock %}

{% block body %}
	
	<div class="container profil">


		<div class="row ">

			<div class="col-md-12 text-center ">
			<h1 class="titleContact">Ride with VTCsn - Freedom and Flexibility! <div class="clearfixTitle"></div></h1>
			<h2>Empower Your Drive, Elevate Your Life <div class="clearfixSubTitle"></div></h2>
				<div class="cardh-100">
					
				<img src="\assets\images\vtcsn-placeholder-1.avif" alt="Driver"  class="imgPlaceholder">
					
					<p>Join the VTCsn driver community and experience the benefits of unparalleled freedom and flexibility. As a VTCsn driver, you are your own boss, choosing when and where to drive, creating a work-life balance tailored to your needs. Our cutting-edge app ensures seamless navigation and efficient ride management, making your driving experience stress-free and enjoyable. In addition, VTCsn offers competitive earnings and incentives, allowing you to maximize your income potential. Our ever-expanding network of riders ensures a steady stream of business, so you'll never be left idle. To top it off, VTCsn is committed to driver support, providing assistance and resources to help you thrive. Don't wait – empower your drive and elevate your life with VTCsn today!</p>
					<div class="col-md-3">
					<a class=" btn submitMessage  btn-ld my-3" href=" {{path('app_register2')}}" style=" border-radius: 15px;width:100% ">Become a driver Vtcsn</a>
					<a class=" btn submitMessage  btn-ld my-3" href=" {{path('app_login')}}" style=" border-radius: 15px;width:100% ">Login</a>
				</div>
				</div>
			</div>


		</div>

	</div>
{% endblock %}
