{% extends 'base.html.twig' %}

{% block title %}
	Contact
{% endblock %}

{% block body %}
	<div class="container content footerContact">

		<section>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-4">
					{{ message }}
				</div>
			{% endfor %}

			{% for message in app.flashes('danger') %}
				<div class="alert alert-success mt-4">
					{{ message }}
				</div>
			{% endfor %}
				<h1 class="  text-center titleContact">Contact Form</h1>
			{{ form(form) }}

			</section>

		</div>
	{% endblock %}
