{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="container p-4">
			<div id="alert" class="alert alert-{{ label }} alert-dismissible  " role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				<div class="alert-message">
					{{ message|raw }}
				</div>
			</div>
		</div>

	{% endfor %}
{% endfor %}


{% block stylesheets %}


	<style>
		.div #alert {
			margin: 0 20px
		}
	</style>
{% endblock %}
