
<footer  >
	
		
			<div class="col-md-12 text-center">
				<ul class="footer-nav">
					<li>
						<a class="scroll-to" href="#top">Accueil</a>
					</li>
					<li>
						<a class="scroll-to" href="#services">Services</a>
					</li>
					<li>
						<a class="scroll-to" href="#reviews">Commentaires</a>
					</li>
					<li>
						<a class="scroll-to" href="#contact">Contact</a>
					</li>
				</ul>
				
			</div>
			<div class="col-md-12 text-center  conditions">
		<ul class="footer-conditions">
			<li class="copyright">©2023 VTCNSN</li>
			<li>
				<a href="#">
					Mentions légales</a>
			</li>
			<li>
				<a href="#">Conditions générales d’utilisation</a>
			</li>
			<li>
				<a href="#">Politique de Confidentialité</a>
			</li>
		</ul>
	</div>
		
	
	
</footer>

