{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}

	<div class="container-fluid profil">

		<div class="row justify-content-center">

			<fieldset class=" col-ms-12 col-md-5 col-lg-3 register  ">
				<div class="cardh-100">

					<strong class="strong">Bienvenue dans votre espace personnel,pour demander un trajet appuyer sur  le lien ci-dessous</strong>
					<br>
					<br>
					<br>
					<br>
					<a class="btn btn-primary btn-ld" href="{{path('passager_newCommand', {'id':app.user.id})}}" style=" border-radius: 15px;width:98%;">
						Passer la command de trajet</a>

				</div>

			</fieldset>

		</div>
	</div>
{% endblock %}
