{% extends 'base.html.twig' %}


{% block title %}My order
{% endblock %}

{% block body %}
<div class="container content  orderCustom">
	<h1 class="titleContact">Order of {{app.user.surName}} <div class="clearfixTitle"></div></h1>
    
        <div class="row register">   
			<div class="col-md-12" >
               
                    <div class="cardh-100 rating">
                     {% for ride in rides %}
                        <p class="card-title"><strong>	route made on </strong> {{ride.createdAt | date('d-m-y h:m')}}</p>
                        <p class="card-text"><strong>From</strong> {{ride.rendezVous}}</p>
                        <p class="card-text"><strong>To</strong> {{ride.destination}}</p>
						<div class="separator"></div>
                        {% endfor %}
                    </div>
					
                
            </div>
        </div>
    </div>

		
	{% endblock %}
